<div class="flex justify-between">
  <h1 class="text-base font-bold">掲示板更新</h1>
  <div>
    <a href="/boards" class="text-blue-500 hover:text-blue-800">
      掲示板一覧
    </a>
  </div>
</div>

<form action="/boards/update/<%= @board.id %>" method="post">
  <div>
    <label for="name">名前</label>
    <input id="name" name='board[name]' value="<%= @board.name %>" class="w-full p-1 border">
  </div>
  <div class="form-group">
    <label for="title">タイトル</label>
    <input id="title" name='board[title]' value="<%= @board.title %>" class="w-full p-1 border">
  </div>
  <div class="form-group">
    <label for="body">本文</label>
    <textarea id="body" name='board[body]' class="w-full p-1 border" rows="10"><%= @board.body %></textarea>
  </div>
  <button type="submit" class="text-white bg-blue-600 p-2">保存</button>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="id" value="<%= @board.id %>">
  <input type="hidden" name="_method" value="PATCH">
</form>

