<div class="flex justify-between mb-5">
  <h1 class="text-base font-bold">
    <%= @board.title %>
  </h1>
  <div>
    <a href="/boards" class="text-blue-500 hover:text-blue-800">
      一覧
    </a>
    <a href="/boards/edit/<%= @board.id %>" class="text-blue-500 hover:text-blue-800">
      編集
    </a>
  </div>
</div>

<% if flash[:notice] %>
  <div class="bg-blue-100 border border-blue-500 text-blue-700 px-4 py-3 rounded mb-5">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= render partial: 'board', object: @board %>

<!--同じ意味-->
<%#= render @board %>

<%= render partial: 'error' %>

<form action="/comments/create" method="post" class="mt-5">
  <div class="font-bold mb-2">
    コメント記入
  </div>
  <div>
    <label for="name">名前</label>
    <input id="name" name='name' class="w-full p-1 border">
  </div>
  <div class="form-group">
    <label for="body">コメント</label>
    <textarea id="body" name='comment' class="w-full p-1 border" rows="3"></textarea>
  </div>
  <input type="hidden" name="id" value="<%= @board.id %>">
  <button type="submit" class="text-white bg-blue-600 p-2">保存</button>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>

<div class="mt-5">
  <div class="font-bold mb-3">
    コメント一覧
  </div>

  <% @board.comments.each do |comment| %>
    <div class="border p-3">
      <div class="">
        <%= comment.name %>さん
      </div>
      <div class="">
        <%= comment.comment %>
      </div>
      <div class="flex justify-end">
        <div class="pr-4">
          <a href="/comments/delete/<%= comment.id %>" data-turbo-method="delete" class="text-blue-500 hover:text-blue-800">
            削除
          </a>
        </div>
        <div class="">
          <%= comment.created_at.to_s(:datetime_jp) %>
        </div>
      </div>

    </div>
  <% end %>
</div>